@import '../../variables';

.main-player {
  background-color: $color-main;
  box-sizing: border-box;
  font-size: 0;
  height: 60px;
  position: relative;
  width: 100vw;
  z-index: 2;
}

.player-controls {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  width: 30%;

  md-icon {
    color: $color-white;
    cursor: pointer;
    margin-right: 5%;
  }
}

.current-track {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 50%;
}

.track-art {
  display: inline-block;
  line-height: 55px;
  margin-right: 10px;
  vertical-align: middle;

  img {
    border-radius: 50%;
    display: inline-block;
    margin-top: 7px;
    vertical-align: middle;
    width: 40px;
  }
}

.track-info {
  color: $color-white;
  display: inline-block;
  font-size: 16px;
  line-height: 60px;
  vertical-align: top;

  &.no-tracks {
    transform: translateX(50%);
  }
}

.current-playlist {
  display: inline-block;
  margin-top: 14px;
  text-align: center;
  vertical-align: top;
  width: 20%;
}

.playlist-menu {
  font-size: .8em;

  .playlist-item {
    cursor: pointer;
    padding: 8px 15px;
    transition: background .2s ease-out;

    &:hover {
      background: $color-grey-lighter;
    }

    md-icon {
      display: inline-block;
      color: $color-highlight;
      font-size: 1.3em;
      vertical-align: top;
      width: 15%;
    }

    .playlist-track {
      display: inline-block;
      width: 80%;
    }
  }
}
