<section class="main-player">
    <div class="player-controls">
        <md-icon (click)="playPrevious()">skip_previous</md-icon>
        <md-icon (click)="playSound()" *ngIf="currentlyPlaying === false">play_arrow</md-icon>
        <md-icon (click)="pauseSound()" *ngIf="currentlyPlaying === true">pause</md-icon>
        <md-icon (click)="playNext()">skip_next</md-icon>
    </div>
    <div class="current-track">
        <div *ngIf="currentTrack" class="track-art">
            <img *ngIf="currentTrack.artwork_url" [src]="currentTrack.artwork_url | safe">
            <img *ngIf="!currentTrack.artwork_url" src="../../assets/soundcloud-logo.png">
        </div>
        <div *ngIf="currentTrack" class="track-info">
            {{ currentTrack.title }} by {{ currentTrack.user.username }}
        </div>
        <div *ngIf="!currentTrack" class="track-info">
            No Tracks Currently Loaded
        </div>
    </div>
</section>