@import '../../variables';

.splash {
    background: $color-highlight;
    cursor: pointer;
    height: calc(100vh - 60px);
    left: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 1s ease-out;
    transition-delay: .2s;
    width: 30vw;
    z-index: 99;

    &.show {
        @include mobile {
            display: none;
        }

        @include tablet {
            opacity: 1;
        }
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    .inner {
        left: 50%;
        padding: 0 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        .logo-image {
            margin: 11px -7px 0 0;
            vertical-align: top;
            width: 65px;
        }

        .logo,
        .description {
            color: $color-white;
            text-align: center;
        }

        .logo {
            font-size: 2em;
            margin-bottom: .7em;
        }

        .description {
            font-size: 1.2em;
        }
    }
}