.form-container {
    margin: -215px auto 20px auto;
    transition: margin 0.2s ease-out;
    width: 90%;
}

.form-container.push-down {
    margin: 80px auto 20px auto;
}

md-input-container {
    display: block;
}

.mat-input-wrapper {
    margin: 2em 0;
}

input {
    display: block;
    font-size: 1em;
    height: 20px;
    padding: 5px 10px;
    width: 100%;
}

.search-results {
    margin-bottom: 10px;
    max-height: 300px;
    overflow: scroll;
}

.search-result {
    border-top: 1px solid lightgrey;
    cursor: pointer;
    height: 40px;
    padding: 5px 0;
    overflow: hidden;
}

.playlist-info {
    display: inline-block;
    vertical-align: middle;
    width: 78%;
}

.playlist-image-container {
    display: inline-block;
    min-width: 40px;
    vertical-align: middle;
    width: 15%;
}

.playlist-image {
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    width: 35px;
}