<div class="form-container" [ngClass]="{'push-down': showForm === true}">
  <md-input-container class="md-block">
    <input mdInput placeholder="Playlist Name" type="text" id="playlist-name" [(ngModel)]="newName" />
  </md-input-container>
  <md-input-container class="md-block">
    <input mdInput placeholder="Playlist Location" type="text" id="autocomplete" #newLocation />
  </md-input-container>
  <md-input-container class="md-block">
    <input mdInput placeholder="Search Soundcloud Playlists" type="text" [(ngModel)]="searchKeyword" (keyup)="makeSearch($event.target.value)"/>
  </md-input-container>
  <md-input-container class="md-block no-height">
    <input mdInput placeholder="Playlist ID" type="text" [(ngModel)]="newUrl" disabled/>
  </md-input-container>
  <md-input-container class="md-block no-height">
    <input mdInput placeholder="Playlist Coordinates" type="text" id="coordinates" disabled #newCoordinates />
  </md-input-container>
  <div class="search-results">
    <div *ngFor="let result of searchResults" class="search-result" [ngClass]="{ 'selected': newUrl === result.id }">
      <div class="playlist-image-container">
        <img [src]="result.artwork_url" *ngIf="result.artwork_url" class="playlist-image">
        <img src="../../assets/soundcloud-logo.png" *ngIf="!result.artwork_url" class="playlist-image">
      </div>
      <div class="playlist-info">{{ result.title }} by {{ result.user.username }}</div>
      <div class="search-actions">
        <button md-raised-button (click)="newUrl = result.id" class="alt">
          <span *ngIf="newUrl !== result.id">Select Playlist</span>
          <span *ngIf="newUrl === result.id">Playlist Selected</span>
        </button>
        <button md-raised-button (click)="updatePlayer(result.id)" class="alt">
          Preview Playlist
        </button>
      </div>
    </div>
  </div>
  <button
    md-raised-button
    (click)="addPlaylist(newName, newLocation.value, newCoordinates.value, newUrl)"
    [ngClass]="{ 'disabled-button': !newName || !newLocation.value || !newCoordinates.value || !newUrl}"
    class="add-playlist">Save Playlist</button>
</div>