.form-container {
    margin: -215px auto 20px auto;
    transition: margin 0.2s ease-out;
    width: 90%;
}

.form-container.push-down {
    margin: 80px auto 20px auto;
}

md-input-container {
    display: block;
}

.mat-input-wrapper {
    margin: 2em 0;
}

input {
    display: block;
    font-size: 1em;
    height: 20px;
    padding: 5px 10px;
    width: 100%;
}