<div class="form-container" [ngClass]="{'push-down': showForm === true, 'slide-up': slideFormUp === true }">
  <md-input-container class="md-block">
    <input mdInput placeholder="Playlist Name" type="text" id="playlist-name" [(ngModel)]="newName" maxlength="20"/>
  </md-input-container>
  <md-input-container class="md-block">
    <input mdInput placeholder="Playlist Location" type="text" id="autocomplete" [(ngModel)]="newLocation" />
  </md-input-container>
  <md-select placeholder="Playlist vibes" [(ngModel)]="newTag">
    <md-option *ngFor="let tag of tags" [value]="tag.value">
      {{ tag.value }}
    </md-option>
  </md-select>
  <md-input-container class="md-block">
    <input 
      mdInput
      placeholder="Search Soundcloud Tracks"
      type="text"
      id="soundcloud-search"
      (focus)="slideFormUp = true"
      (blur)="slideFormUp = false"
      [(ngModel)]="searchKeyword"
      (keyup)="makeSearch($event.target.value, $event.keyCode)"/>
  </md-input-container>
  <md-input-container class="md-block no-height">
    <input mdInput placeholder="Playlist Coordinates" type="text" id="coordinates" disabled [(ngModel)]="newCoordinates" />
  </md-input-container>
  <div class="search-results">
    <md-spinner *ngIf="searchKeyword && (!searchResults || searchResults.length === 0)"></md-spinner>
    <div *ngFor="let result of searchResults" class="search-result">
      <div class="track-image-container">
        <img [src]="result.artwork_url" *ngIf="result.artwork_url" class="track-image">
        <img src="../../assets/soundcloud-logo.png" *ngIf="!result.artwork_url" class="track-image">
      </div>
      <div class="track-info">
        <div class="track-text">
          {{ result.title }} by {{ result.user.username }}
        </div>
      </div>
      <div class="search-actions">
        <md-icon (click)="addToPlaylist(result)" class="add-track">add_circle</md-icon>
        <md-icon (click)="updatePlayer(result.id)" class="preview-track">play_circle_filled</md-icon>
      </div>
    </div>
  </div>
  <button
    md-raised-button
    *ngIf="!playlistKey"
    (click)="addPlaylist(newName, newLocation, newCoordinates, newTag)"
    [ngClass]="{ 'disabled-button': !newName || !newLocation || !newCoordinates || (playlistTracks && playlistTracks.length === 0) }"
    class="save-playlist">Save Playlist</button>
  <button
    md-raised-button
    *ngIf="playlistKey"
    (click)="updatePlaylist(playlistKey, newName, newLocation, newCoordinates, newTag)"
    [ngClass]="{ 'disabled-button': !newName || !newLocation || !newCoordinates || (playlistTracks && playlistTracks.length === 0) }"
    class="update-playlist">Update Playlist</button>
</div>

<div class="playlist-tracks" [ngClass]="{ 'show': (playlistTracks && playlistTracks.length > 0 && showForm), 'z-index': showForm }" dnd-sortable-container [sortableData]="playlistTracks">
  <h3>Playlist Tracks:</h3>
  <div class="playlist-track" *ngFor="let track of playlistTracks; let i = index;" dnd-sortable [sortableIndex]="i">
    <div class="track-image-container">
      <img [src]="track.artwork_url" *ngIf="track.artwork_url" class="track-image">
      <img src="../../assets/soundcloud-logo.png" *ngIf="!track.artwork_url" class="track-image">
    </div>
    <div class="track-info">
      <div class="track-text">
        {{ track.title }} by {{ track.user.username }}
      </div>
    </div>
    <div class="search-actions">
      <md-icon (click)="removeFromPlaylist(track)" class="add-track">remove_circle</md-icon>
      <md-icon (click)="updatePlayer(track.id)" class="preview-track">play_circle_filled</md-icon>
    </div>
  </div>
</div>