.form-container {
    background: white;
    border-right: 1px solid cadetblue;
    box-sizing: border-box;
    height: calc(100vh - 124px);
    padding: 15px;
    position: absolute;
    transform: translate3d(0, -95vh, 0);
    transition: transform 0.3s ease-out;
    width: 30%;
    z-index: 2;
}

.form-container.push-down {
    transform: translate3d(0, 44px, 0);
}

md-input-container {
    display: block;
}

.mat-input-wrapper {
    margin: 2em 0;
}

input {
    display: block;
    font-size: 1em;
    height: 20px;
    padding: 5px 10px;
    width: 100%;
}

.search-results {
    margin-bottom: 10px;
    max-height: 300px;
    overflow: scroll;
}

.search-result {
    background-color: #C8D7D4;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px 0;
    max-height: 140px;
    padding: 5px 10px;
    overflow: hidden;
    transition: background-color 0.3s ease-out;
}

.search-result:hover,
.search-result.selected {
    background-color: #A8D7D4;
}

.playlist-preview {
    height: 80px;
    margin-top: 5px;
    width: 100%;
}

.playlist-info {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    width: 78%;
}

.playlist-image-container {
    display: inline-block;
    min-width: 40px;
    vertical-align: middle;
    width: 15%;
}

.playlist-image {
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    width: 35px;
}

.search-actions {
    margin: 10px auto;
    text-align: center;
}

.add-playlist {
    width: 100%;
}