@import '../../variables';

.form-container {
  background: $color-white;
  box-sizing: border-box;
  height: calc(100vh - 124px);
  overflow: scroll;
  padding: 15px;
  position: absolute;
  transform: translate3d(0, -95vh, 0);
  transition: transform .3s ease-out;
  width: 100%;
  z-index: 2;

  @include tablet {
    border-right: 1px solid $color-main;
    width: 30%;
  }

  &.push-down {
    transform: translate3d(0, 0, 0);

    @include tablet {
      transform: translate3d(0, 64px, 0);
    }
  }

  &.slide-up {
    transform: translate3d(0,-185px, 0);

    @include tablet {
      transform: translate3d(0, 64px, 0);
    }
  }
}

md-input-container {
  display: block;
}

.mat-input-wrapper {
  margin: 2em 0;
}

input {
  display: block;
  font-size: 1em;
  height: 20px;
  padding: 5px 10px;
  width: 100%;
}

md-spinner {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}

.search-results {
  margin-bottom: 10px;
  max-height: 300px;
  overflow: scroll;
}

.search-result,
.playlist-track {
  background-color: $color-grey-lighter;
  box-sizing: border-box;
  cursor: pointer;
  margin: 2px 0;
  max-height: 55px;
  overflow: hidden;
  padding: 5px 10px;
  transition: background-color .3s ease-out;

  &:hover {
    background-color: $color-grey-light;
  }
}

.track-info {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  width: 60%;

  .track-text {
    margin-top: 2%;
    vertical-align: middle;
  }
}

.track-image-container {
  display: inline-block;
  margin-top: 5px;
  min-width: 40px;
  vertical-align: top;
  width: 15%;
}

.track-image {
  border-radius: 50%;
  float: left;
  vertical-align: top;
  width: 35px;
}

.search-actions {
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  vertical-align: top;
  width: 20%;
}

.add-track,
.preview-track {
  background: $color-main;
  border-radius: 50%;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  margin-top: 3px;
  text-align: center;
  vertical-align: top;
}

.save-playlist,
.update-playlist {
  transition: opacity .2s ease-out;
  width: 100%;
}

.playlist-tracks {
  background: rgba($color-white, .8);
  box-sizing: border-box;
  height: 40vh;
  left: 0;
  padding: 15px;
  position: absolute;
  top: -100vh;
  transition: transform .3s ease-out;
  width: 100%;

  @include tablet {
    border-right: 1px solid $color-main;
    height: calc(100vh - 60px);
    top: 0;
    width: 30%;
  }

  &.z-index {
    z-index: 1;
  }

  &.show {
    transform: translate3d(0, -40vh, 0);
    z-index: 1;

    @include tablet {
      transform: translate3d(30vw, 0, 0);
    }
  }

  h3 {
    color: $color-main;
  }
}

.playlist-track {
  background-color: $color-grey-lighter;
}
