<md-sidenav-container>
  <h1>
    {{title}}
  </h1>

  <md-sidenav #sidenav mode="side" opened="true">
    <md-card *ngFor="let station of stations | async">
      {{station.name}}

      <iframe width="200" height="150" scrolling="no" frameborder="no" [src]="station.url | safe"></iframe>
    </md-card>
  </md-sidenav>

  <ng2-map
    zoom="13"
    center="40.747244, -73.995747"
    (mapReady$)="onMapReady($event)"
    (idle)="onIdle($event)">
      <marker *ngFor="let station of stations | async"
        [position]="station.position"
        (initialized$)="onMarkerInit($event)"></marker>
  </ng2-map>
</md-sidenav-container>