@import '../../variables';

md-toolbar {
  background: $color-main;
  border-right: 1px solid $color-main;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: 4;

  button {
    position: absolute;
    right: 7%;
  }
}


.profile-image {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
  width: 50px;
}

nav {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2);
  position: absolute;
  text-align: center;
  transform: translate3d(0, -200px, 0);
  transition: transform .3s ease-out;
  width: 30%;
  z-index: 3;

  .show-menu {
    transform: translate3d(0, 65px, 0);
  }
}

.nav-item {
  background-color: rgba($color-white, .9);
  border-bottom: 1px solid $color-main;
  color: $color-main;
  cursor: pointer;
  padding: 15px 0;
}

.md-sidenav-left {
  border-right: 1px solid $color-main;
  box-sizing: border-box;
  display: inline-block;
  height: calc(100vh - 60px);
  overflow: scroll;
  vertical-align: top;
  width: 30%;

  &:focus {
    outline: 0;
  }
}

.sort-controls {
  background: $color-grey-lighter;
  border-right: 1px solid $color-main;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  box-sizing: border-box;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 123px;
  width: 30%;
  z-index: 1;

  button {
    margin: 20px 2px;
  }
}

.search-container {
  background: $color-white;
  border-right: 1px solid $color-main;
  box-sizing: border-box;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  display: block;
  left: 0;
  position: fixed;
  top: 64px;
  width: 30%;
  z-index: 1;

  .search-playlists {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
}

.reset-playlists {
  background: $color-white;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  border-right: 1px solid $color-main;
  box-sizing: border-box;
  color: $color-main;
  cursor: pointer;
  padding: 10px 0;
  position: fixed;
  top: 200px;
  width: 30%;
  z-index: 1;
}

.playlists-container {
  transform: translate3d(0, 200px, 0);
  transition: transform .3s ease-out;

  &.push-down {
    transform: translate3d(0, 242px, 0);
  }
}

.headline {
  background: $color-main;
  box-sizing: border-box;
  color: $color-white;
  margin: 0;
  padding: 24px;

  md-icon {
    color: $color-white;
    font-size: 26px;
    margin-top: -7px;
  }

  img {
    border-radius: 50%;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 50px;
  }
}

md-card {
  background: $color-grey-lighter;
  font-size: 1em;
  margin-bottom: 3px;
}

.playlist-name {
  color: $color-main;
  font-size: 24px;
  width: 100%;
}

.playlist-location {
  color: $color-grey;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-likes {
  color: $color-grey;
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-date {
  color: $color-grey;
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-user {
  color: $color-grey;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-top: 10px;

  img {
    border-radius: 50%;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
  }
}

.active {
  color: $color-gold;
}

md-icon {
  color: $color-grey-light;
  cursor: pointer;
  font-size: 21px;
  margin-right: -4px;
  vertical-align: middle;
}

.play-button {
  display: block;
  margin-top: 15px;
  pointer-events: none;
  width: 100%;

  &.alt {
    pointer-events: initial;
  }

  md-icon {
    color: $color-white;
  }
}

.delete-playlist {
  color: $color-grey;
  cursor: pointer;
  margin-top: 10px;
  text-align: right;
}
