md-toolbar {
    background: #C8D7D4;
    border-right: 1px solid cadetblue;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    left: 0;
    position: fixed;
    top: 0;
    width: 30%;
    z-index: 4;
}

md-toolbar button {
    position: absolute;
    right: 7%;
}

.profile-image {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    width: 50px;
}

nav {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2);
    position: absolute;
    text-align: center;
    transform: translate3d(0, -200px, 0);
    transition: transform 0.3s ease-out;
    width: 30%;
    z-index: 3;
}

nav.show-menu {
    transform: translate3d(0,65px,0);
}

.nav-item {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid cadetblue;
    color: cadetblue;
    cursor: pointer;
    padding: 15px 0;
}

.md-sidenav-left {
    border-right: 1px solid cadetblue;
    box-sizing: border-box;
    display: inline-block;
    height: calc(100vh - 60px);
    overflow: scroll;
    vertical-align: top;
    width: 30%;
}

.md-sidenav-left:focus {
    outline: 0;
}

.sort-controls {
    background: #e6f5f2;
    border-right: 1px solid cadetblue;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    margin: 0 auto;
    position: fixed;
    top: 64px;
    text-align: center;
    width: 30%;
    z-index: 1;
}

.sort-controls button {
    margin: 20px 2px;
}

.reset-playlists {
    background: #C8D7D4;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, .2);
    color: cadetblue;
    cursor: pointer;
    padding: 10px 0;
    position: fixed;
    top: 140px;
    width: 30%;
    z-index: 1;
}

.playlists-container {
    transform: translate3d(0, 140px, 0);
    transition: transform 0.3s ease-out;
}

.playlists-container.push-down {
    transform: translate3d(0, 182px, 0);
}

.search-playlists {
    display: block;
    margin: 20px auto 0 auto;
    width: 90%;
}

.headline {
    box-sizing: border-box;
    background: cadetblue;
    color: white;
    margin: 0;
    padding: 24px;
}

.headline md-icon {
    color: white;
    font-size: 26px;
    margin: -7px 0px 0 0;
}

.headline img {
    border-radius: 50%;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 50px;
}

md-card {
    font-size: 1em;
}

.playlist-name {
    color: cadetblue;
    font-size: 24px;
    width: 100%;
}

.playlist-location {
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.playlist-likes {
    float: left;
    margin-top: 10px;
}

.playlist-date {
    color: grey;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}

.playlist-user {
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.playlist-user img {
    border-radius: 50%;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
}

.active {
    color: gold;
}

md-icon {
    color: lightgrey;
    cursor: pointer;
    font-size: 21px;
    margin-right: -4px;
    vertical-align: middle;
}

.play-button {
    display: block;
    margin-top: 15px;
    pointer-events: none;
    width: 100%;
}

.play-button.alt {
    pointer-events: initial;
}

.play-button md-icon {
    color: white;
}

.delete-playlist {
    color: lightgrey;
    cursor: pointer;
    margin: 10px 0 0 0;
    text-align: right;
}