@import '../../variables';

md-toolbar {
  background: $color-main;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  @include tablet {
    border-right: 1px solid $color-main;
    width: 30%;
  }

  button {
    position: absolute;
    right: calc(7% + 60px);
    top: 10px;

    @include tablet {
      top: 13px;
    }
  }

  .login {
    right: 7%;
  }
}

.logo {
  color: $color-white;
}

.logo-image {
  height: 30px;
  margin: 5px 2px 0 0;
}

.profile-image {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 6%;
  top: 7px;
  width: 42px;

  @include tablet {
    top: 9px;
    width: 45px;
  }
}

.md-sidenav-left {
  background: transparent;
  border-top: 1px solid $color-main;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 56px;
  transition: background .3s ease-out, height .3s ease-out;
  vertical-align: top;
  width: 100%;
  z-index: 1;

  @include mobile {
    &.full-height {
      background: $color-white;
      height: calc(100vh - 116px);
      padding-bottom: 200px;
    }
  }

  @include tablet {
    background: $color-white;
    border-right: 1px solid $color-main;
    border-top: 0;
    height: calc(100vh - 60px);
    position: static;
    width: 30%;
    z-index: 0;
  }

  &:focus {
    outline: 0;
  }
}

.search-container {
  background: $color-white;
  border-top: 1px solid $color-highlight;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  box-sizing: border-box;
  display: block;
  left: 0;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 1;

  @include tablet {
    border-right: 1px solid $color-main;
    border-top: 0;
    top: 64px;
    width: 30%;
  }

  .search-playlists {
    display: inline-block;
    margin-left: 15px;
    width: calc(100% - 75px);

    .mat-input-wrapper {
      margin-bottom: 15px !important;
    }
  }

  .sort {
    color: $color-grey;
    cursor: pointer;
    float: right;
    margin: 20px 15px 0 0;
    vertical-align: middle;
  }
}

.reset-playlists {
  background: $color-grey-lighter;
  box-shadow: 0 3px 5px -1px rgba($color-black, .2);
  box-sizing: border-box;
  color: $color-main;
  cursor: pointer;
  display: none;
  opacity: 0;
  padding: 10px 0;
  position: fixed;
  top: 123px;
  transition: opacity .2s ease-out;
  width: 100%;
  z-index: 1;

  @include mobile {
    &.visible {
      display: block;
      opacity: 1;
    }
  }

  @include tablet {
    border-right: 1px solid $color-main;
    display: block;
    opacity: 1;
    top: 133px;
    width: 30%;
  }
}

.playlists-container {
  display: none;
  opacity: 0;
  transform: translate3d(0, 129px, 0);
  transition: opacity .3s ease-out, transform .3s ease-out;

  @include mobile {
    &.visible {
      display: block;
      opacity: 1;
    }
  }

  @include tablet {
    display: block;
    opacity: 1;
    transform: translate3d(0, 125px, 0);
  }

  &.push-down {
    transform: translate3d(0, 110px, 0);

    @include tablet {
      transform: translate3d(0, 174px, 0);
    }
  }
}

.headline {
  background: $color-main;
  box-sizing: border-box;
  color: $color-white;
  margin: 0;
  padding: 24px;

  md-icon {
    color: $color-white;
    font-size: 26px;
    margin-top: -7px;
  }

  img {
    border-radius: 50%;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 50px;
  }
}

md-card {
  background: $color-grey-lighter;
  font-size: 1em;
  margin-bottom: 3px;
}

.playlist-name {
  color: $color-main;
  font-size: 24px;
  width: 100%;
}

.playlist-location {
  color: $color-grey;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-likes {
  color: $color-grey;
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-date {
  color: $color-grey;
  float: left;
  font-size: 12px;
  margin-top: 10px;
}

.playlist-user {
  color: $color-grey;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-top: 10px;

  img {
    border-radius: 50%;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
  }
}

.active {
  color: $color-gold;
}

md-icon {
  color: $color-grey-light;
  cursor: pointer;
  font-size: 21px;
  margin-right: -4px;
  vertical-align: middle;
}

.play-button {
  display: block;
  margin-top: 15px;
  pointer-events: none;
  width: 100%;

  &.alt {
    pointer-events: initial;
  }

  md-icon {
    color: $color-white;
  }
}

.delete-playlist {
  color: $color-grey;
  cursor: pointer;
  margin-top: 10px;
  text-align: right;
}
