<md-toolbar>
  <span class="logo">MusicMap</span>
  <img *ngIf="(af.auth | async)?.uid" src="{{ (af.auth | async)?.auth.photoURL }}" class="profile-image" [mdMenuTriggerFor]="menu">
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="filterByCurrentUser()">My Profile</button>
    <button md-menu-item (click)="logout()">Logout</button>
  </md-menu>
  <button *ngIf="!(af.auth | async)?.uid" md-raised-button (click)="login()" class="alt login">Login</button>
  <button *ngIf="(af.auth | async)?.uid" md-raised-button (click)="globalService.toggleForm()" class="alt">
    <span *ngIf="showForm !== true">Add a Playlist</span>
    <span *ngIf="showForm === true">Hide</span>
  </button>
</md-toolbar>

<md-sidenav
  class="md-sidenav-left"
  md-component-id="left"
  md-disable-backdrop
  md-is-locked-open="true"
  md-is-open="true"
  md-whiteframe="4">

  <add-form></add-form>

  <div class="clearfix"></div>

  <div class="search-container">
    <md-input-container class="search-playlists">
      <input mdInput placeholder="Search Playlists" [(ngModel)]="searchTerm">
    </md-input-container>
  </div>

  <div class="sort-controls">
    <button md-raised-button (click)="changeOrder('-published')" [ngClass]="{'alt': orderValue === '-likesTotal' }">Newest Playlists</button>
    <button md-raised-button (click)="changeOrder('-likesTotal')" [ngClass]="{'alt': orderValue === '-published' }">Popular Playlists</button>
  </div>

  <div class="text-center reset-playlists" *ngIf="showReset" (click)="resetPlaylists()">
      View All Playlists
  </div>

  <div class="playlists-container" [ngClass]="{ 'push-down': showReset === true }">

    <h2 *ngIf="headline" class="headline">
      <md-icon *ngIf="filterKey === 'location'">location_on</md-icon> {{ headline }}
    </h2>
    <h2 *ngIf="filterKey === 'coordinates'" class="headline">
      <md-icon>location_on</md-icon> {{ (filteredPlaylists | async | filter: filterKey : filterValue | first)?.location }}
    </h2>
    <h2 *ngIf="filterKey === 'user' && headline !== 'My Playlists'" class="headline">
      <img src="{{ (users | async | get: ((filteredPlaylists | async | filter: filterKey : filterValue | first)?.user))?.photoURL }}"> {{ (users | async | get: ((filteredPlaylists | async | filter: filterKey : filterValue | first)?.user))?.name }}
    </h2>

    <md-card *ngFor="let playlist of filteredPlaylists | async | filter: filterKey : filterValue | search: searchTerm | orderBy: [orderValue]">
      <playlist-card [playlist]="playlist"></playlist-card>
    </md-card>

    <section *ngIf="headline === 'My Playlists'">

      <h2 class="headline">Liked Playlists</h2>

      <span *ngFor="let playlist of filteredPlaylists | async | search: searchTerm | orderBy: [orderValue]">
        <md-card *ngIf="(user | async)?.likes && (user | async)?.likes[playlist.$key]">
          <playlist-card [playlist]="playlist"></playlist-card>
        </md-card>
      </span>
    </section>
  </div>
</md-sidenav>