<div class="playlist-card">
  <div class="playlist-name">
    {{ playlist.name }}
  </div>
  <div class="playlist-tag" *ngIf="playlist.tag" (click)="filterByTag(playlist.tag)">
    {{ playlist.tag }}
  </div>
  <div class="playlist-likes">
    <span *ngIf="(user | async)?.uid" class="like-controls">
      <md-icon
        (click)="unlikePlaylist(playlist)"
        class="active"
        *ngIf="(userLikes | async) && (userLikes | async | get: playlist.$key)">
        star
      </md-icon>
      <md-icon
        (click)="likePlaylist(playlist)"
        *ngIf="!(userLikes | async) || !(userLikes | async | get: playlist.$key)">
        star
      </md-icon>
    </span>
    <span *ngIf="!playlist.likesTotal && playlist.likesTotal !== 0">0</span>{{ playlist.likesTotal }} like<span *ngIf="playlist.likesTotal > 1 || playlist.likesTotal === 0 || !playlist.likesTotal">s</span>
  </div>
  <div class="playlist-location" (click)="filterByLocation(playlist.location, playlist.coordinates)">
    <md-icon>location_on</md-icon> {{ playlist.location }}
  </div>
  <div class="clearfix"></div>
  <div class="playlist-date">
    <md-icon>event</md-icon> {{ playlist.published | date: 'mediumDate' }}
  </div>
  <div class="playlist-user" (click)="filterByUser(playlist.user, playlist.userName)">
    <img src="{{ (users | async | get: playlist.user)?.photoURL }}"> {{ (users | async | get: playlist.user)?.name | lastNamePipe }}
  </div>
  <div class="clearfix"></div>
  <button md-raised-button (click)="updatePlayer(playlist, $event)" class="play-button" [ngClass]="{'alt': !globalService.currentPlaylist.getValue() || playlist.tracks !== globalService.currentPlaylist.getValue() }">
    <span *ngIf="!globalService.currentPlaylist.getValue() || playlist.tracks !== globalService.currentPlaylist.getValue()">
      Play
    </span>
    <span *ngIf="globalService.currentPlaylist.getValue() && playlist.tracks === globalService.currentPlaylist.getValue()">
      Currently Playing
    </span>
  </button>
  <div class="delete-playlist" *ngIf="playlist.user === (user | async)?.uid" >
    <md-icon (click)="updatePlaylist(playlist.$key, playlist.name, playlist.location, playlist.tag, playlist.tracks, playlist.coordinates)">mode_edit</md-icon>
    <md-icon (click)="deletePlaylist(playlist.$key, playlist.location)">delete</md-icon>
  </div>
  <div class="playlist-tracks" [ngClass]="{ 'full-height': openPlaylist === playlist.name }">
    <div class="playlist-track" *ngFor="let track of playlist.tracks; let i = index;" (click)="updatePlayerTrack(playlist, i)">
      <div class="track-info">
        {{ track.title }} by {{ track.user.username }}
      </div>
      <div class="track-play">
        <img src="../../assets/spectrum.gif" *ngIf="currentTrack === track.title">
        <md-icon *ngIf="currentTrack !== track.title">play_arrow</md-icon>
      </div>
    </div>
  </div>
  <button md-button class="view-tracks grey-text" (click)="toggleTracks(playlist.name)">
    <span *ngIf="openPlaylist !== playlist.name">View all</span>
    <span *ngIf="openPlaylist === playlist.name">Hide</span>
    tracks
    <md-icon *ngIf="openPlaylist !== playlist.name">keyboard_arrow_down</md-icon>
    <md-icon *ngIf="openPlaylist === playlist.name">keyboard_arrow_up</md-icon>
  </button>
</div>
