/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.mat-raised-button {
    background: #0c6;
}

.mat-raised-button.alt {
    background: white;
}

.mat-button-wrapper {
    color: white;
}

.alt .mat-button-wrapper {
    color: #0c6;
}

.mat-input-wrapper {
    margin: 1.3em 0 !important;
}

.mat-input-underline {
    border-top-color: #0c6;
}

.mat-input-placeholder {
    color: #999;
}

.text-center {
    text-align: center;
}

.no-height {
    height: 0;
    overflow: hidden;
}

.disabled-button {
    opacity: 0.4;
    pointer-events: none;
}

.mat-select {
    color: #999;
    margin: 0.2em 0;
    width: 100%;
}

.mat-select-underline {
    background: #0c6;
}

.mat-input-underline .mat-input-ripple,
.mat-select:focus:not(.mat-select-disabled) .mat-select-underline {
    background-color: #0c6;
}

.mat-input-placeholder.mat-focused,
.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
    color: #0c6;
}

.mat-select-placeholder {
    margin-bottom: 10px;
}

.mat-select-value-text {
    color: #1C1C1F;
    margin-left: 10px;
}

.mat-select-placeholder.mat-floating-placeholder {
    margin-bottom: 0;
}

md-option:hover {
    background: #eee;
}