/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
}

.clearfix {
    clear: both;
}

.mat-raised-button {
    background: cadetblue;
}

.mat-raised-button.alt {
    background: #C8D7D4;
}

.mat-button-wrapper {
    color: #fff;
}

.alt .mat-button-wrapper {
    color: cadetblue;
}

.text-center {
    text-align: center;
}