/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.mat-raised-button {
    background: #0c6;
}

.mat-raised-button.alt {
    background: white;
}

.mat-button-wrapper {
    color: white;
}

.alt .mat-button-wrapper {
    color: #0c6;
}

.mat-input-underline {
    border-top-color: #0c6;
}

.mat-input-placeholder {
    color: #0c6;
}

.text-center {
    text-align: center;
}

.no-height {
    height: 0;
    overflow: hidden;
}

.disabled-button {
    opacity: 0.4;
    pointer-events: none;
}