// colors
$color-white: #fff;
$color-black: #000;
$color-main: #1c1c1f;
$color-highlight: #0c6;
$color-grey: #999;
$color-grey-light: #ddd;
$color-grey-lighter: #eee;
$color-gold: #ffd700;

// screen size
$screen-sm: 960px;

// transitions
%transition {
  transition: .3s ease-out;
}

// mixins
@mixin mobile {
  @media screen and (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$screen-sm}) {
    @content;
  }
}